<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <script src="/static/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
    <link rel="import" href="/static/app/addressbook-app.html">
  </head>
  <body data-csrf-token="{{csrf_token}}">
    <addressbook-app
        logout-url="{% url 'logout' %}?next=/addressbook/"
        user-email="{{ user.email }}">
    </addressbook-app>
  </body>
</html>
